<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Alpha Vistorias</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" style="font-size: 1.25rem;" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-service" Match="NavLinkMatch.All">
                <span class="bi bi-gear-fill" style="font-size: 1.25rem;" aria-hidden="true"></span>
                <span class="flex flex-wrap text-wrap">Cadastrar Serviço</span>
            </NavLink>
        </div>
    </nav>
</div>
